@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');
body {
  /*
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  */
  background-image: url("http://ak0.picdn.net/shutterstock/videos/2683970/thumb/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

a {
  /*
  color: #00B7FF;
  */
}

.container {
font-family: 'Quattrocento Sans', sans-serif;
font-size: 15px;
}
