@import url('https://fonts.googleapis.com/css?family=Catamaran|Open+Sans');

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 1);
  background: #007aa9; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#007aa9, #eee); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#007aa9, #eee); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#007aa9, #eee); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#007aa9, #a9d9ff);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
}

tr:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.5);
  transition: all ease 0.5s;
  text-shadow: 1px 1px rgba(0, 0, 0, .25);

}

.frameT {
  width: 100%;
  padding: 0px;
  display: table;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.frameTC {
  padding: 0px;
  vertical-align: middle;
  display: table-cell;
  margin: 0;
}

#home-content {
  margin: 0px auto;
  width: 25%;
  text-align: center;
}

#home-content input {
  color: #ffffff;
  text-shadow: 1px 1px rgba(0, 0, 0, .25);
  text-align: center;
}

#home-content input::placeholder {
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 1px 1px rgba(0, 0, 0, .25);
  text-align: center;
}

#home-content h1 {
  font-family: 'Catamaran', sans-serif;
  font-size: 4.1em;
  margin: 20px 0px 20px 0px;
  text-shadow: 2px 3px rgba(0, 0, 0, .25);
}

#home-content h2 {
  margin: 0px;
  font-size: 3em;
  padding: 10px 0px;
}

#home-content p {
  font-size: 1.75em;
  margin: 0px;
  padding: 5px 0px;
  text-transform: capitalize;
}

#home-content form {
  padding: 0px 0px 15px 0px;
}

#home-content .form-control {
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
      border: 1px solid rgba(221, 221, 221, 0.5);
}

#home-content .form-control:focus {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 0.5);
}

#home-content .btn-default {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.5);
    transition: all ease 0.5s;
    text-shadow: 1px 1px rgba(0, 0, 0, .25);
}

#home-content .btn-default:hover {
    color: #007aa9;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    text-shadow: 1px 1px rgba(0, 0, 0, .25);
}

#weather-info {
  padding: 25px 0 40px 0;
  margin: 0px;
  text-shadow: 2px 3px rgba(0, 0, 0, .25);
}

#temperature {
  font-size: 2.75em;
}

@media only screen and (max-width : 992px) {
  #home-content {
    margin: 0px auto;
    width: 50%;
    text-align: center;
  }
}

@media only screen and (max-width : 480px) {
  #home-content {
    margin: 0px auto;
    width: 75%;
    text-align: center;
  }
  #home-content h1 {
    font-family: 'Catamaran', sans-serif;
    font-size: 3.5em;
    margin: 20px 0px 20px 0px;
    text-shadow: 2px 3px rgba(0, 0, 0, .25);
  }
}
